<!--<h3>RxJS operators explained with examples:</h3>-->
<div class="flex-row">
  <button mat-raised-button color="primary" [routerLink]="['/home']">Home</button>
  <button mat-raised-button color="accent" [routerLink]="['/create-01']">01-Creation</button>
  <button mat-raised-button color="accent" [routerLink]="['/combining-02']">02-Combining</button>
  <button mat-raised-button color="accent" [routerLink]="['/merging-03']">03-Merging linear</button>
  <button mat-raised-button color="accent" [routerLink]="['/search-04']">04-Merging - flattening</button>
  <button mat-raised-button color="accent" [routerLink]="['/share-05']">05-Multicasting</button>
  <button mat-raised-button color="accent" [routerLink]="['/filtering-06']">06-Filtering</button>
  <button mat-raised-button [routerLink]="['/other-07']">07-Other</button>
</div>
