<div class="flex-row">
  <button mat-raised-button color="primary" [routerLink]="['/home']">Home</button>
  <button mat-raised-button color="accent" [routerLink]="['/create-01']">01-Creation - simple</button>
  <button mat-raised-button [routerLink]="['/combining-02']">02-Combining</button>
  <button mat-raised-button [routerLink]="['/home']">03-Merging linear</button>
  <button mat-raised-button color="accent" [routerLink]="['/search-04']">04-Merging - flattening</button>
  <button mat-raised-button [routerLink]="['/home']">05-Share/Replay</button>
  <button mat-raised-button color="accent" [routerLink]="['/filtering-06']">06-Filtering</button>
  <button mat-raised-button [routerLink]="['/home']">07-Other</button>
</div>
