<mat-drawer-container class="margin-top-10px">
  <mat-drawer #drawer class="padding-10px font-small" mode="over">
    <div class="close-sign" (click)="drawer.toggle()">X</div>
    <h4>Operator Details</h4>
    <ul>
      <li>
        <span class="operator-title"> .filter(func)</span>
        <b>Description:</b> Emit values that pass the provided condition.<br>
        <b>Signature:</b> filter(select: Function, thisArg: any): Observable
      </li>
      <li>
        <span class="operator-title"> .first()</span>
        <b>Description:</b> Emit the first value or first to pass provided expression.<br>
        <b>Signature:</b> first(predicate: function, select: function)
      </li>
      <li>
        <span class="operator-title"> .take(n)</span>
        <b>Description:</b> Emit provided number of values before completing.<br>
        <b>Signature:</b> take(count: number): Observable
      </li>
      <li>
        <span class="operator-title"> .takeLast(n)</span>
        <b>Description:</b> Emit the last values emitted from source on completion, based on provided
        number.<br>
        <b>Signature:</b> takeLast(count: number): Observable
      </li>
      <li>
        <span class="operator-title"> .last(n)</span>
        <b>Description:</b> Emit the last value emitted from source on completion, based on provided
        expression.<br>
        <b>Signature:</b> last(predicate: function): Observable
      </li>
      <li>
        <span class="operator-title"> .takeUntil(Observable)</span>
        <b>Description:</b> Emit values until provided observable emits.<br>
        <b>Signature:</b> takeUntil(notifier: Observable): Observable
      </li>
      <li>
        <span class="operator-title"> .takeWhile(function)</span>
        <b>Description:</b> Emit values until provided expression is false.<br>
        <b>Signature:</b> takeWhile(predicate: function(value, index): boolean): Observable
      </li>
    </ul>
  </mat-drawer>

  <div class="page-header">

    <div class="more-details">
      <button type="button" mat-raised-button (click)="drawer.toggle()">
        Details
      </button>
    </div>

    <div class="column margin-top-10px">
      <b>How to use:</b>
      <ul>
        <li>Enter the desired length of the Array and press the <b>Process</b> button</li>
        <li>After Process has been used once page needs to be refreshed in order for all operators to be re-instantiated
        </li>
        <li>Press <b>Complete Source$</b> to be able to view the results from last() and takeLast(n) operators
          which require the source to complete
      </li>
    </ul>
  </div>
</div>
<div class="flex-row-container">
  <div class="column">
    <div>
      <mat-form-field class="input">
        <input matInput placeholder="length [5..50], default 10" #input1 autofocus
               (keydown.enter)="process(input1.value); input1.value = ''; forcePipeRefresh = forcePipeRefresh * -1;">
      </mat-form-field>
      <button mat-raised-button color="accent"
              (click)="process(input1.value); input1.value = ''; forcePipeRefresh = forcePipeRefresh * -1;">Process
      </button>
    </div>
    <br>
    Test array:
    <div>{{theArray | asArray }}</div>
  </div>

</div>

<!--DISPLAY RESULTS-->

<div class="flex-row-container">

  <div class="column-simple">
    <div>
      <b>filter(odd):</b> {{filter$ | async}}
    </div>
    <div>
      completed: {{filterCompleted || false}}
    </div>
  </div>


  <div class="column-simple">
    <div>
      <b>first():</b> {{first$ | async}}
    </div>
    <div>
      completed: {{firstCompleted || false}}
    </div>
  </div>

  <div class="column-simple">
    <div>
      <b>take(3):</b> {{take$ | async}}
    </div>
    <div>
      completed: {{takeCompleted || false}}
    </div>
  </div>

  <div class="column-simple">
    <div>
      <b>takeLast(2):</b> {{takeLast$ | async}}
    </div>
    <div>
      completed: {{takeLastCompleted || false}}
    </div>
  </div>

  <div class="column-simple">
    <div>
      <b>last():</b> {{last$ | async}}
    </div>
    <div>
      completed: {{lastCompleted || false}}
    </div>
    <div class="margin-top-10px">
      <button mat-raised-button color="accent" (click)="completevalueGeneratorSubject();">Push [-1] & Complete Source$
      </button>
    </div>
  </div>

  <div class="column-simple">
    <div>
      <b>takeUntil(Obs):</b> {{takeUntil$ | async}}
    </div>
    <div>
      completed: {{takeUntilCompleted || false}}
    </div>
    <div class="margin-top-10px">
      <button mat-raised-button #takeUntil>takeUntil button Press</button>
    </div>
  </div>

  <div class="column-simple">
    <div>
      <b>takeWhile():</b> {{takeWhile$ | async}}
    </div>
    <div>
      completed: {{takeWhileCompleted || false}}
    </div>
    <div class="margin-top-10px">
      <button mat-raised-button #takeWhile>takeWhile Switcher</button>
    </div>
    Take values: {{takeWhilePressed}}

  </div>

</div>
