<mat-drawer-container class="margin-top-10px">
  <mat-drawer #drawer class="padding-10px font-small" mode="over">
    <div class="close-sign" (click)="drawer.toggle()">X</div>
    <h4>Operator Details</h4>
    <ul>
      <li>
        <span class="operator-title"> .map()</span>
        <b>Description:</b> Apply projection with each value from source.<br>
        <b>signature:</b> map(project: Function, thisArg: any): Observable
      </li>
      <li>
        <span class="operator-title"> .merge()</span>
        <b>Description:</b> Turn multiple observables into a single observable.<br>
        <b>signature:</b> merge(input: Observable): Observable
      </li>
      <li>
        <span class="operator-title"> .concat()</span>
        <b>Description:</b> Subscribe to observables in order as previous completes, emit values.<br>
        <b>signature:</b> concat(observables: ...*): Observable
      </li>
    </ul>
  </mat-drawer>

  <div class="page-header">

    <div class="more-details">
      <button type="button" mat-raised-button (click)="drawer.toggle()">
        Details
      </button>
    </div>

    <div class="column margin-top-10px">
      <b>How to use:</b>
      <ul>
        <li><b>Map</b>: static method/ instance method.
        </li>
        <li><b>Concat</b> (static method/ instance method): Concatenates two streams. If first stream
          is infinite, the values from the second stream will never be emitted.
        </li>
        <li><b>Merge</b>: static method/ instance method
        </li>
      </ul>
    </div>
  </div>

  <div class="flex-row-container">
    <div class="column">
      Test data streams:
      <div>Stream 1 (Obs1): {{ dataStream1 | asArray }} - ticks every second</div>
      <div>Stream 2 (Obs2): {{ dataStream2 | asArray }} - ticks every second</div>
    </div>

  </div>

  <!--DISPLAY RESULTS-->

  <div class="flex-row-container">

    <div class="column">
      <div>
        <b>Obs1:</b>
      </div>
      <div>
        <ul *ngFor="let elem of stream1Tick">
          <li>
            {{elem}}
          </li>
        </ul>
      </div>
    </div>

    <div class="column">
      <div>
        <b>Obs2:</b>
      </div>
      <div>
        <ul *ngFor="let elem of stream2Tick">
          <li>
            {{elem}}
          </li>
        </ul>
      </div>
    </div>

    <div class="column">
      <div>
        <b>Obs1.map(elem => otherVal + elem):</b>
      </div>
      <div>
        <ul *ngFor="let elem of streamMapTick">
          <li>
            {{elem}}
          </li>
        </ul>
      </div>
    </div>


    <div class="column">
      <div>
        <b>merge(Obs1, Obs2)
          <br>
          OR
          <br>
          Obs1.merge(Obs2):</b>
      </div>
      <div>
        <ul *ngFor="let elem of streamsMergeTick">
          <li>
            {{elem}}
          </li>
        </ul>
      </div>
    </div>

    <div class="column">
      <div>
        <b>concat(Obs1, Obs2)
          <br>
          OR
          <br>
          Obs1.concat(Obs2):</b>
      </div>
      <div>
        <ul *ngFor="let elem of streamsConcatTick">
          <li>
            {{elem}}
          </li>
        </ul>
      </div>
    </div>

  </div>

</mat-drawer-container>
