/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


body {
  font-family: 'Raleway', sans-serif;
}


.border-it {
  /*display: flex;*/
  margin: 10px;
  border: 1px solid gray;
  border-radius: 2px;
}

.width30 {
  width: 30%;
}

.min-height190 {
  min-height: 190px;
}

.min-height500 {
  min-height: 500px;
}

.min-height275 {
  min-height: 275px;
}

.width25 {
  width: 25%;
}

.red {
  color: red;
}

.green {
  color: green;
}


.font-small {
  font-size: small;
}

.style-component {
  display: block;
  margin: 10px;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 4px;

  height: auto;
  min-width: 650px;
}


.flex-row-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: space-around;
  flex: 1 1 auto;
}
.column {
  display: flex;
  flex-flow: column wrap;
  align-items: stretch;
  align-content: flex-start;
  justify-content: center;
  flex: 1 1 33%;
  min-width: 100px;

  border-width: 0 1px 0 0;
  border-style: solid;
  border-color: gray;
  padding: 10px;
}


.column:last-child {
  border-width: 0;
}

.column-simple:last-child {
  border: 0;
}

.margin-top-10px {
  margin-top: 10px;
}

.padding-top-10px {
  padding-top: 10px;
}

.border-top {
  border-top: 1px solid gray;
}


/* Home page styles - START */

.categories-row {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  align-content: flex-start;
  justify-content: flex-start;

}
.categories-column {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  align-content: flex-start;
  justify-content: flex-start;

  margin: 0 10px 0 0;
  padding: 0 10px 0 0;
  border-right: 1px solid gray;
  width: 33vw;

}

.categories-column:last-child {
  border-right: 0;
}

.category {
  margin-top: 10px;
  padding: 10px;
  border-top: 1px solid gray;
}


.operator-title {
  display: block;
  font-weight: bold;
  color: #3F51B5;
}

/* Home page styles - END */


.page-header {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: space-evenly;
  flex-basis: 100%;
  min-height: 100%;
}

.page-header > * {
  flex: 1 1 100%;
  border: 0;
}

.page-header > .flex-width-33 {
  flex: 0 1 33%;
  background-color: lightgray;
  border-radius: 4px;
}

.close-sign {
  display: inline-block;
  font-size: large;
  position: absolute;
  right: 10px;
  top: 10px;
  user-select: none;
}

.close-sign:hover {
  cursor: pointer;
}

.more-details {
  position: absolute;
  top: 10px;
  right: 10px;
}

.padding-10px {
  padding-right: 10px;
}

.log-holder {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: space-evenly;

  font-size: medium;
}

.log-holder > .column {
  flex: 1 1 32%;
}
