<div class="margin-top-10px">
  Welcome to Home.
  Use the navigation button to go to the corresponding example
  <div class="categories-row">
  <div class="categories-column">

    <div class="category">
      <strong><u>01-Creation simple:</u></strong>
      <ul>
        <li>Observable.of()</li>
        <li>Observable.from()</li>
      </ul>
    </div>

    <div class="category">
      <strong><u>02-Combining:</u></strong>
      <ul>
        <li>.combineLatest()</li>
        <li>.zip()</li>
        <li>.forkJoin()</li>
      </ul>
    </div>

    <div class="category">
      <strong><u>03-Merging - linear:</u></strong>
      <ul>
        <li>.map()</li>
        <li>.merge()</li>
        <li>.concat()</li>
      </ul>
    </div>



  </div>

    <div class="categories-column">

      <div class="category">
        <strong><u>04-Merging - flattening:</u></strong>
        <br>
        double operation operators with flattening
        <ul>
          <li>.map()</li>
          <li>.merge()</li>
          <li>.concat()</li>
        </ul>
      </div>

      <div class="category">
        <strong><u>05-Share/Replay:</u></strong>
        <ul>
          <li>.share()</li>
          <li>.shareReplay()</li>
          <li>.publish()</li>
          <li>.publishReplay()</li>
          <li>.refCount()</li>
        </ul>
      </div>

      <div class="category">
        <strong><u>06-Filtering:</u></strong>
        <ul>
          <li>.filter()</li>
          <li>.first()</li>
          <li>.take(n)</li>
          <li>.last(n)</li>
          <li>.takeUntil(n)</li>
          <li>.takeWhile(n)</li>
        </ul>
      </div>

    </div>

    <div class="categories-column">

      <div class="category">
        <strong><u>07-Other:</u></strong>
        <ul>
          <li>.do()</li>
          <li>.defaultIfEmpty()</li>
          <li>.debounce()</li>
          <li>.debounceTime()</li>
          <li>.throttle()</li>
          <li>.throttleTime()</li>
        </ul>
      </div>

    </div>

  </div>
</div>
